<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black;">
    <br><br>
<center>
	<form style="width: 30%" method="POST" action="/form2">
		<div class="panel panel-primary">
			<div class="panel-heading">Visitor details</div>
			<div class="panel-body"> 
				<input type="text" class="form form-group form-control" id="name" name="name" placeholder="Name" style="width: 80%;">
				<input type="email" class="form form-group form-control" id="email" name="email" placeholder="Email" style="width: 80%;">
				<input type="text" class="form form-group form-control" id="contact" name="contact" placeholder="Contact" style="width: 80%;">
				<input type="Submit" class="btn btn-primary" value="submit" style="width:200px;">
			</div>
		</div>
	</form>
</center>



</body>
</html>